.title__div {
    display: flex;
    background-color: var(--color-cuarto);
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}

@media (max-width: 425px) {
    .title__div {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}